// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  &__left{
    width: 30%;
    height: 100%;
    background-color: #00473e;
    &__users{
      width: 100%;
      height: 80%;
     
      &__attend{
        display: flex;
        flex-wrap: wrap; 
        height: 70%;
        overflow-y: scroll;
        &__card{
          // border: 1px solid;
          // border-radius: 50%;
          // background-color: #fffffe;
          width: 150px;
          height: 150px;
          text-align: center;
          // display: flex;
          // align-items: center;
          margin: 20px;
          &__img{
            text-align: center;
            border-radius: 50%;
            width: 130px;
            height: 130px;
          }
          &__name{
            margin-top: 10px;
            color: #e8e4e6
          }
        }
      }
      &__absent{
        display: flex;
        flex-wrap: wrap; 
        height: 30%;
        overflow-y: scroll;
        &__card{
          // background-color: #d1d1e9;
          // border-radius: 50%;
          width: 100px;
          height: 100px;
          text-align: center;
          // display: flex;
          margin: 20px;
          // position: relative;
          &__img{
            margin: 0 auto;
            border-radius: 50%;
            width: 87px;
            height: 87px;
            opacity: .6;
          }
          &__name{
            // position: absolute;
            // right: 4px;
            // bottom: 4px;
            margin-top: 4px;
            color: #e8e4e6;
          }
        }
      }
    }
    &__action{
      
      color: white;
      width: 90%;
      height: 20%;
      position: relative;
      margin: 0 auto;
      // padding: 20px;
      &__logout{
        display: inline-block;
        width: 70px;
        text-align: center;
        border: 1px solid;
        border-color: white;
        color: #00473e;
        position: absolute;
        bottom: 30px;
        right: 30px;
        padding: 10px;
        text-decoration: none;
        background-color: #f9bc60;
      }
      &__edit{
        display: inline-block;
        width: 70px;
        text-align: center;
        border: 1px solid;
        border-color: white;
        color: #00473e;
        position: absolute;
        bottom: 30px;
        left: 30px;
        padding: 10px;
        text-decoration: none;
        background-color: #f9bc60;
      }
    }
  }
  &__right{
    width: 70%;
    height: 100%;
    background-color: #f2f7f5;
    &__messages{
      width: 100%;
      height: 80%;
      overflow-y: scroll;
      background-color: #abd1c6;
      &__message{
        padding: 0.5em 1em;
        margin: 2em 20px;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

        // below was defined before...
        // margin: 15px 20px;
        // background-color: #e8e4e6;
        // padding: 20px;
        // position: relative;
        display: flex;
        &__userimage{
          margin: 0 auto;
          border-radius: 50%;
          width: 87px;
          height: 87px;
        }
        &__main{
          width: 90%;
          &__upper-info{
            width: 90%;
            display: flex;
            margin: 0 auto;
            &__user{
              width: 30%;
            }
            &__created-at{
              width: 70%;
            }
          }
          &__content{
            width: 90%;
            // height: 60px;
            // background-color: blue;
            margin: 0 auto;
            &__text{
              padding-top: 10px;
              padding-bottom: 10px;
            }
            &__img{
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
        &__marks{
          width: 10%;
          // position: absolute;
          // top: 20px;
          // left: 80px;
          
          &__box{
            padding: 0.5em 1em;
            margin: 2em 0;
            color: #2c2c2f;
            background: white;/*背景色*/
          }
        }
      }
    }
    &__form{
      width: 100%;
      height: 20%;
      &__box{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display:flex;
        align-items: center;
        &__text-field{
          width: 70%;
          height: 90%;
          margin: 0 auto;

        }
        &__label{
          &__icon{
            margin: 20px;
          }
          .fa-image{
            font-size: 50px;
          }
          &__hidden{
            display: none;
          }
        }
        &__submit-btn{
          display: inline-block;
          padding: 0.5em 1em;
          text-decoration: none;
          background: #f7f7f7;
          border-left: solid 6px #ff7c5c;/*左線*/
          color: #ff7c5c;/*文字色*/
          font-weight: bold;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        }
        &__submit-btn:active{
          box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
          transform: translateY(2px);
        }
      }
    }
  }
}